<div class="model fade modal-sm" id="smart-potato" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close glyphicon glyphicon-remove" data-dismiss="modal" aria-label="Close"></button>
          <a href="https://smart-potato.herokuapp.com/" target="_blank"><h3 style="color:black;"><h3 style="color:black;">Smart Potato</h3> <span class="glyphicon glyphicon-new-window"></span></a>
        </div>
        <div class="modal-body">
          <p>My final project for DBC. A movie aggregator that streamlines a user's movie watching experience. This site is currently in a demonstration state. Due to api restrictions we were not able to maintain full feature functionality. Therefore this site is no longer maintained.</p>
        </div>
        <div class="modal-footer">
          <h4>Tech</h4>
          <div class="tech-container">
            <%= image_tag('tech-icons/rails-logo.png', class: "tech-pic") %>
            <%= image_tag('tech-icons/HTML5-Logo.png', class: "tech-pic") %>
            <%= image_tag('tech-icons/CSS3.png', class: "tech-pic") %>
            <%= image_tag('tech-icons/postgresql_logo.png', class: "tech-pic") %>
            <%= image_tag('tech-icons/logo-jquery.png', class: "tech-pic") %>
            <%= image_tag('tech-icons/js.png', class: "tech-pic") %>
            <%= image_tag('tech-icons/handlebars-logo.png', class: "tech-pic") %>
            <%= image_tag('tech-icons/bootstrap-logo.png', class: "tech-pic") %>
            <%= image_tag('tech-icons/redis.png', class: "tech-pic") %>
          </div>
        </div>
      </div>
    </div>
  </div>

