<div class="model fade" id="salty" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 style="color:black;">Salty Chat</h3>
        </div>
        <div class="modal-body">
          <p>A very simple, crude in appearence, chat application. I really wanted to learn Node.js, so I taught myself while building this app.</p>
        </div>
        <div class="modal-footer">
          <h4>Tech</h4>
          <div class="tech-container">
            <%= image_tag('tech-icons/nodejs.png', class: "tech-pic") %>
            <%= image_tag('tech-icons/express.png', class: "tech-pic") %>
            <%= image_tag('tech-icons/HTML5-Logo.png', class: "tech-pic") %>
            <%= image_tag('tech-icons/CSS3.png', class: "tech-pic") %>
            <%= image_tag('tech-icons/socketio-logo.png', class: "tech-pic") %>
            <%= image_tag('tech-icons/logo-jquery.png', class: "tech-pic") %>
            <%= image_tag('tech-icons/js.png', class: "tech-pic") %>
            <%= image_tag('tech-icons/bootstrap-logo.png', class: "tech-pic") %>
            <%= image_tag('tech-icons/mongodb.png', class: "tech-pic") %>
            <%= image_tag('tech-icons/mongoose.png', class: "tech-pic") %>
          </div>
        </div>
      </div>
    </div>
  </div>

