<div class="top_pic" alt="sombrero galaxy">

  <div class="model fade" id="connect" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title">Connect</h3>
        </div>
        <div class="modal-body">
          <div class="nav_bottom">
            <ul>
              <li><a target="_blank" href="https://github.com/zimmermanw84"><%= image_tag("GitHub-icon.png") %></a></li>
              <li><a target="_blank" href="https://twitter.com/walt_z"><%= image_tag("Twitter-icon.png") %></a></li>
              <li><a target="_blank" href="https://www.linkedin.com/pub/walt-zimmerman/a2/820/8b7"><%= image_tag("LinkedIn-icon.png") %></a></li>
              <li><a target="_blank" href="https://google.com/+WaltZimmerman"><%= image_tag("GooglePlus-icon.png") %></a></li>
              <li><a href="mailto:zimmermanw@icloud.com"><span class="glyphicon glyphicon-envelope"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="modal-footer">

        </div>
      </div>
    </div>
  </div>


</div>
<nav class="main-nav">
  <div class="nav_top" id="social">
    <ul>
      <li><a href="#intro"><h2>Introduction</h2></a></li>
      <li><a href="#pro"><h2>Projects</h2></a></li>
      <li><a href="#comments"><h2>Comments</h2></a></li>
      <li><a data-toggle="modal" data-target="#connect"><h2>Connect</h2></a></li>
    </ul>
  </div>

  <header>
    <h1 id="title">Walt Zimmerman</h1>
  </header>
</nav>
<div id="intro">
  <div class="image-container">
    <%= image_tag("http://i1382.photobucket.com/albums/ah251/zimmermanw/9aff3a71-9cf0-49e4-be90-0b601bebe8e3_zpsb7ae5d00.jpg", id: "head_shot") %>
  </div>
  <h1 id="introduction" class="top">Introduction</h1>
  <p>
    Hello! Nice to meet you. My name is Walt Zimmerman and I am a full stack web developer. My passion for technology started when I was about 10 years old. I built my first computer when I was 13. When I turned 19 I joined the Army, sadly, at that point I lost interest in computers. When I got out of the Army I didn't have any direction in my life. To make ends meet I got a job dealing poker in a casino. I dealt for 7 years and when I turned 30 I felt like it was time for a change. While I learned a lot about life and people, I had very little translatable skills to an ever evolving work force. So I decided to re-introduce myself to my childhood passion, computers. My wife is a Dev Bootcamp graduate and a dedicated Viggle web developer in San Francisco and encouraged me to follow in her footsteps… So I did. I recently graduated Dev Bootcamp and I am having a blast building web applications. I wish I would have done this years ago. I truly believe that I was meant for this line of work. I am ready to work and exited for the opportunity to be apart of your team. Let’s build something great together!!
  </p>
</div>

<div id="pro">
  <h1 class="top">Projects</h1>
  <ul>
    <li>
      <section class="project-container">
        <h2><a target="_blank" href="#">Smart Potato <span class="glyphicon glyphicon-ban-circle"></span></a> <small>Currently Under Construction. Will be back soon.</small>
        </h2>
        <p>My final project for DBC. A movie aggregator that streamlines a user's movie watching experience.</p>
        <ul>
          <h3>Tech:</h3>
          <li>Rails</li>
          <li>Postgresql</li>
          <li>Redis</li>
          <li>JavaScript</li>
          <li>Sass</li>
          <li>Multiple APIs</li>
          <li>HTML5/CSS3</li>
        </ul>
      </section>
    </li>
    <li>
      <section class="project-container">
        <h2><a target="_blank" href="https://saltychat.herokuapp.com/">Salty Chat <span class="glyphicon glyphicon-triangle-right"></span></a>
        </h2>
        <p>A very simple, crude in appearence, chat application. I really wanted to learn Node.js, so I taught myself while building this app.</p>
        <ul>
          <h3>Tech:</h3>
          <li>Node.js</li>
          <li>Express</li>
          <li>MongoDB</li>
          <li>Mongoose</li>
          <li>JavaScript</li>
          <li>Socket.io</li>
          <li>HTML5/CSS3</li>
        </ul>
      </section>
    </li>
    <li>
      <section class="project-container">
        <h2><a target="_blank" href="https://frackjack.herokuapp.com/">Frack Jack <span class="glyphicon glyphicon-triangle-right"></span></a>
        </h2>
        <p>This is a spin off of a classic blackjack game. My very first deployed project.</p>
        <ul>
          <h3>Tech:</h3>
          <li>Ruby/Sinatra</li>
          <li>MySql</li>
          <li>JavaScript</li>
          <li>Activerecord</li>
          <li>HTML5/CSS3</li>
        </ul>
      </section>
    </li>
  </ul>
</div>

<div class="rocket" alt="rocket ship">
</div>
<div id="comments">
  <h1 class="top">Comments</h1>
  <!-- temp will style later -->
  <p style="text-align:center;">Go ahead leave a comment... I'd love to hear from you.</p>
  <div class="comment-section">
    <section class="comments input-group-lg">
      <h3 class="comment-count">0 Comments</h3>
      <% if session[:browserid_email] %>
      <form id="comment-form">
        <div class="form-row">
          <textarea name="content" placeholder="Leave a comment..."></textarea>
          <input id='user-email' type="hidden" name="email" data-email="<%= session[:browserid_email] %>">

        </div>
        <div class="form-row buttons">
          <span class="email"></span>
          <button class="btn submit" type="submit">Post your comment <%= session[:browserid_email] %></button>
          <a href="/logout" class="btn logout dark browserid_logout">Logout</a>
        </div>
      </form>
      <% else %>
      <div class="no-user">
        <p>You must login to leave a message...</p>
        <a href="/login" class="browserid_login btn">Login with Persona</a>
      </div>
      <% end %>
      <section class="comment-container">
        <ul id="comment-list" class="list-group"></ul>
      </section>
    </section>
  </div>
</div>
<footer>
  <h4>| Thanks for visiting. Design by Walt Zimmerman |</h4>
  <h4>2015&copy;</h4>
</footer>
