<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="A personal website for and built by Walter Zimmerman. Walter Zimmerman is a up and coming full stack developer that would make a good addition to any development team. Walter specializes in RoR and JavaScript, but is not limited to those technologies.">
  <meta name="keywords" content="Walter, Walt, Zimmerman, Portfolio, Projects, Smart Potato, Frack Jack, Full Stack, hacker, developer, javascript, ruby, rails, django, node, AJAX">
  <title>Walt Zimmerman</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="icon" type="image/png" href="/assets/lockeSolo.png">
</head>
<body>
  <%= yield %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- Perform basic BrowserID setup in the head section -->
  <%= setup_browserid %>
</body>
</html>
